@import "../../../../styles.scss";

.button
{
  height: 40px;
  margin-right: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: $white-color;
}

.button-delete
{
  @extend .button;
  background-color: $warning-color;
}

