<div class="consultas-container" *ngIf="consulta">
  <button class="back" mat-flat-button (click)="onBack()">Voltar</button>

  <h1 class="title">Selecione a data e hora da nova consulta</h1>

  <div class="datePicker">
    <mat-form-field appearance="fill">
      <mat-label>Escolha uma data</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange()" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-flat-button (click)="limparData()" [disabled]="selectedDate == null">Limpar data</button>
  </div>

  <p *ngIf="displayedListaPorData.length == 0">Nenhuma consulta disponível para essa data</p>

  <div *ngFor="let data of displayedListaPorData" class="dataContainer">
    <p class="data">{{ convertToDate(data.date.toString()) | date: 'dd/MM/yyyy' }}</p>

    <div class="medico" *ngFor="let medico of data.doctors">
      <mat-card appearance="outlined" class="card-container">
        <p class="medico">{{ medico.doctorName }}</p>
        <div class="card-content">
          <button *ngFor="let consulta of medico.doctorAppointments" mat-stroked-button
            (click)="onSelect($event, consulta)">{{ convertToDateTime(consulta.appointmentDateTime.toString()) |
            date:'HH:mm' }}</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
