@import "../../../../../styles.scss";

.card-container {
  display: flex;
  background-color: $white-color;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 280px;
  padding: $spacing-small;
  margin-bottom: $spacing-small;
}

.card-content {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: $spacing-small;
}

.card-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.healthCenter {
  font-size: 1.2em;
  font-weight: $font-semibold;
  margin: 0;
}

.healthCenterAddress {
  font-size: 1em;
  margin: 0;
}

.healthCenterCont {
  font-size: 1em;
  margin: 0;
}


