<mat-card class="card">
  <mat-card-header class="header">
    <mat-card-title class="title">{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="column-container">
      <div class="column">
        <mat-list>
          <div *ngFor="let item of column1">
            <mat-list-item>
                <div class="item-content" *ngIf="item.quantidade > 0">
                <span class="item-name">{{ item.nome }}</span>
                <span class="item-score">{{ item.quantidade }}</span>
                </div>
            </mat-list-item>
            <mat-divider *ngIf="!isLastItem(column1, item)"></mat-divider>
          </div>
        </mat-list>
      </div>
      <div class="column">
        <mat-list>
          <div *ngFor="let item of column2">
            <mat-list-item>
              <div class="item-content" *ngIf="item.quantidade > 0">
                <span class="item-name">{{ item.nome }}</span>
                <span class="item-score">{{ item.quantidade }}</span>
                </div>
            </mat-list-item>
            <mat-divider *ngIf="!isLastItem(column2, item)"></mat-divider>
          </div>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
