@import '../../../styles.scss';

.card
{
  max-width: 300px;
  background-color: $white-color;
}

.custom-avatar {
  background-size: cover;
  width: 80px;
  height: 80px;
}

.name
{
  font-size: $font-size-medium;
  font-weight: $font-semibold;
  margin-bottom: $spacing-small;
}

.thin
{
  font-size: $font-size-small;
  font-weight: $font-regular;
}

