<mat-card appearance="outlined" class="card-container">
  <div class="card-content">
    <div class="card-left">
      <div class="specialty">{{ consulta.specialtyName }}</div>
      <div class="date">{{ consulta.appointmentDateTime }}</div>
    </div>
    <div class="card-right">
      <div *ngIf="consulta.isTomorrow; else showButtons">
        <mat-card-actions>
          <p class="title">Amanhã</p>
        </mat-card-actions>
      </div>
      <ng-template #showButtons>
        <mat-card-actions>
          <button
            mat-fab
            aria-label="Reschedule Button"
            type="button"
            class="button button-reschedule"
            (click)="onReschedule($event)"
            [disabled]="consulta.isFinalized"
          >
            <mat-icon>calendar_month</mat-icon>
          </button>
          <button
            mat-fab
            aria-label="Cancel Button"
            type="button"
            class="button button-cancel"
            (click)="onCancel($event)"
            [disabled]="consulta.isFinalized"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-actions>
      </ng-template>
    </div>
  </div>
</mat-card>
