<div class="master">
  <button class="back" mat-flat-button (click)="onBack()" [disabled]="page.includes('especialidade')">Voltar</button>
  <mat-card class="card-container">
    <div class="card-content">
      <div class="card-left">
        <app-especialidades
        *ngIf="page.includes('especialidade')"
        (selectSpeciality)="onSelectSpeciality($event)"
        ></app-especialidades>
        <app-postos
        [speciality]="speciality"
        (selectPosto)="onSelectPosto($event)"
        *ngIf="page.includes('posto')"
        ></app-postos>
        <app-consultas
        [speciality]="speciality"
        [posto]="posto"
        (selectConsulta)="onSelectConsulta($event)"
        *ngIf="page.includes('consulta')"
        ></app-consultas>
      </div>
      <div class="card-right">
        <mat-card appearance="outlined" class="resumo-container">
          <div class="resumo-content">
            <p class="resumo-title">Resumo da consulta</p>

            <div *ngIf="speciality == null">
              <p class="select">Selecione a especialidade</p>
            </div>

            <div *ngIf="speciality">
              <p><span class="subtitle">Especialidade:</span> {{ speciality.name }}</p>
            </div>

            <div *ngIf="speciality != null && posto == null">
              <p class="select">Selecione o posto de saúde</p>
            </div>

            <div *ngIf="posto">
              <p><span class="subtitle">Posto:</span> {{ posto.name }}</p>
              <p><span class="subtitle">Endereço:</span> {{ posto.address }}</p>
            </div>

            <div *ngIf="speciality != null && posto != null && consulta == null">
              <p class="select">Selecione a consulta</p>
            </div>

            <div *ngIf="consulta">
              <p><span class="subtitle">Profissional:</span> {{ consulta.doctorName }}</p>
              <p><span class="subtitle">Data e hora da Consulta:</span> {{ consulta.date }}</p>
            </div>
          </div>
          <button mat-flat-button [disabled]="!speciality || !posto || !consulta" (click)="onMarcarConsulta()">Marcar consulta</button>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>



