:host{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h2, h1, h3, p{
  margin: 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 7vh auto;

  @media (min-width: 750px){
    margin: 15vh auto;
  }

  // @media (min-width: 750px){
  //   //border: 1px solid #74777F;
  //   padding: 4% 6%;
  //   border-radius: 5%;
  //   box-shadow: 0 0 15px #74777F;
  // }
}

.content{
  width: 90%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5vh;

  @media (min-width: 750px){
    row-gap: 8vh;
  }
}

.logos{
  min-width: 200px;
  max-width: 500px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vh;

  @media (min-width: 750px){
    flex-direction: row;
    column-gap: 3vw;
    row-gap: 0vh;
  }
}

.logos img{
  width: 100%;
}

.signupForm{
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signupForm form{
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
  justify-content: center;
}

.fill-width {
  width: 100%;
  min-width: 150px;
}

.min-width {
  width: 100%;
  min-width: 150px;
}
