@import '../../../../styles.scss';

.card {
  box-shadow: none;
  height: 100vh;
  width: 50%;
  background-color: $light-gray-color;
  box-sizing: border-box;
  padding-right: $spacing-medium;
  padding-left: $spacing-medium;
}

.card-title {
  font-size: $font-size-xlarge;
  font-weight: $font-bold;
  margin-bottom: $spacing-large;
  line-height: 40px;
  margin-top: $spacing-medium;
}

.card-content {
  @extend .card;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
}

.card-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card-right {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin-left: $spacing-medium;
}

.form-field {
  width: 120px;
  height: 70px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-left: $spacing-large;
}

.chart{
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
}

@media (max-width: 1200px) {
  .card-content {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 320px;
  }

  .card-left,
  .card-right {
    width: 100%;
    justify-content: center;
  }

  .card-right {
    margin: auto;
    margin-top: $spacing-medium;
  }
}
