<mat-card class="card-content">
  <mat-card-header>
    <mat-card-title class="card-title">Dashboard</mat-card-title>

    <mat-form-field class="form-field">
      <mat-label>Ano</mat-label>
      <mat-select
        [(value)]="selectedYear"
        (selectionChange)="loadConsultasData(selectedYear)"
      >
        <mat-option *ngFor="let year of getYears()" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="card-left">
      <div class="chart">
        <app-advance-pie-chart
          [data]="pieChartData"
          [title]="pieChartTitle"
          [months]="months"
          (monthChange)="onMonthChange($event)"
        ></app-advance-pie-chart>
      </div>

      <div class="chart">
        <app-line-chart
          [data]="lineChartData"
          [title]="lineChartTitle"
          [view]="lineChartView"
          [xAxisLabel]="lineChartxAxisLabel"
          [yAxisLabel]="lineChartyAxisLabel"
        ></app-line-chart>
      </div>
    </div>
    <div class="card-right"></div>
  </mat-card-content>
</mat-card>
