<p>atividadejunta works!</p>
<ul>
  <li *ngFor="let item of items">
    <span>Nome: {{ item.nome }} Idade: {{ item.idade }}</span>
  </li>
</ul>
<input matInput placeholder="Digite seu email" (input)="onInput($event)" />
<p>{{ dataSaved }}</p>

<button mat-button (click)="onBotaoClicado()">{{ botaoText }}</button>
<p *ngIf="boleano">Deixa de ser curioso</p>

<form [formGroup] = "userForm" (ngSubmit)="OnSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Digite seu nome" formControlName="name" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Digite seu email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input matInput placeholder="Digite seu numero" formControlName="number" required>
  </mat-form-field>

  <button mat-button type="submit">Enviar</button>
</form>
<p>{{ id }}</p>
